body{
    background: #eeedec;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}
.container{
    max-width: 380px;
}
.icon{
    background: #fafbfd;
    margin-top: -50px;
    width: 100px;
    border-radius: 50%;
}